<h2>Por Pais</h2>

<hr>

<div class="row">
    <div class="col-xs-12">
        <app-pais-input placeholder="Buscar Pais" (onEnter)="buscar($event)" (onDebounce)="sugerencias($event)" ></app-pais-input>
    </div>
</div>

<ul *ngIf="mostrarSugerencias" class="list-group">
    <li *ngFor="let item of paisesSugeridos" class="list-group-item list-group-item-action">
        <a [routerLink]="['/pais',item.cca2]"  class="nav-link">
             {{item.name.common}}
        </a>
    </li>

</ul>

<hr>

<div class="alert alert-danger" *ngIf="error">
    No se encontro nada con el termino {{termino}}
</div>

<div class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>