<h2>Ver Pais</h2>
<hr>

<div *ngIf="!pais" class="alert alert-info">Espere por favor...</div>


<div *ngIf="pais">
    <div class="row">
        <div class="col-12">
            <h1>Pais: <small>{{pais.name.common}}</small></h1>
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <h3>Bandera</h3>
            <img src="{{pais.flags.png}}" class="img-thumbnail" alt="" />
        </div>
        <div class="col">
            <h3>Informacion</h3>
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Poblacion</strong> {{pais.population | number}}
                </li>
                <li class="list-group-item">
                    <strong>Capital</strong> {{pais.capital}}
                </li>
                <li class="list-group-item">
                    <strong>Capital</strong> {{pais.cca2}}
                </li>
            </ul>
        </div>

    </div>
    
    <h3>Traducciones</h3>
    <div class="row">
        <div class="col">
            <span class="badge bg-primary ml-1"> >{{pais.translations.por.common}}</span>
            <span class="badge bg-primary ml-1"> >{{pais.translations.pol.common}}</span>
            <span class="badge bg-primary ml-1"> >{{pais.translations.fra.common}}</span>
            <span class="badge bg-primary ml-1"> >{{pais.translations.deu.common}}</span>
            <span class="badge bg-primary ml-1"> >{{pais.translations.spa.common}}</span>
            <span class="badge bg-primary ml-1"> >{{pais.translations.ita.common}}</span>
        </div>
    </div>

    <!-- <pre class="mt-5">
        {{pais | json}}
    </pre> -->

</div>